DATABASE_URL="postgres://koyeb-adm:npg_3xYPeFqAD1Ib@ep-small-cell-agy05unq.c-2.eu-central-1.pg.koyeb.app/koyebdb"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="coloque-um-segredo-forte-aqui"
ADMIN_EMAIL="admin@totalencanto.com"
ADMIN_PASSWORD="admin123"

